<link rel="stylesheet" href="/css/home/home.css">

<div class="main">
    <div id="heading-img">
        <img src="/images/home/Job fair.jpg">
    </div>
    <div id="introduction">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor provident est ut repudiandae, beatae laudantium, repellat quo, in impedit vero cupiditate quasi sit culpa consequatur labore ratione tenetur omnis minus adipisci voluptas. Perspiciatis cupiditate nostrum porro cum eum laudantium eos modi nisi. Quaerat officiis nobis vitae cupiditate dolor? Incidunt, suscipit veniam. Atque, ad doloremque sint repellat, laboriosam beatae suscipit quidem, labore vero sit tempore veniam fuga consequuntur. Vitae et aspernatur minus. Ipsum exercitationem assumenda dignissimos natus repellat harum, repudiandae sapiente nulla, magnam corrupti doloribus? Nulla, laborum neque maiores in incidunt rem, quis assumenda optio dolores alias eos facere! Sint, dignissimos?
    </div>
    <script src="/js/home/home.js"></script>