<link rel="stylesheet" href="/css/home/home.css">

<div class="main">
    <div id="heading-img">
        <img src="/images/home/Job fair.jpg">
    </div>
    <div id="introduction">
        SRIMT has always been recognized for its  prominant placements and  corporate accolades. With this  aim we successfully conducted a number  of campus placement drives and job fairs. During previous session many job fairs were conducted in the college. A dedicated team of training and placement cell is working round the clock to achieve the maximum placement of  our students. so far more then 120 companies have visited our campus.
    </div>
    <script src="/js/home/home.js"></script>