<link rel="stylesheet" href="/css/student/student.css">

<div class="window">
    <div class="heading-pane">
        <p>Welcome <%=locals.user.name%></p>
    </div>
    <div class="navbar-pane">
        <ul>
            <li>Menu1</li>
            <li>Menu2</li>
            <li>Menu3</li>
            <li>Menu4</li>
        </ul>
    </div>
    <div class="panel">
       <%for(let comp of company){%>
        <div class="company-info">
            <div class="main-panel">
                <div class="company-name">
                    <%=comp.info.cname%>
                </div>
                <div class="company-email">
                    <%=comp.info.email%>
                </div>
                
            </div>
            <aside>
                
            </aside>
        </div>
        <%}%>
    </div>
</div>


<script src="/js/student/student.js"></script>