<link rel="stylesheet" href="/css/author/author-sign-in.css">
<!-- <div class="sign-in-center"> -->
    <div class="sign-in-modal animate__animated animate__zoomInDown">
        <div>
            <p>
                Sign In
            </p>
        </div>
        <div class="sign-in">
            <form action="/author/create-session" method="" autocomplete="off">
                <div id="email-sec">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required placeholder="Enter Your Email">
                </div>
                <div id="pass-sec">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required placeholder="Enter Your Password">
                </div>
                <input type="submit" value="Sign In">
            </form>
        </div>
        <div class="sign-up">
            <a href="/author/sign-up">New Author</a>
        </div>
    </div>
<!-- </div> -->
<script src="/js/author/author-sign-in.css"></script>