<div class="sign-in-modal">
    <div class="sign-in">
        <form action="/author/create-session">
            <div id="email-sec">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div id="pass-sec">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="submit" value="Sign In">
        </form>
    </div>
    <div class="sign-up">
        <a href="/author/sign-up">New Author</a>
    </div>
</div>