<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>

    <%- style%>
        <link rel="stylesheet" href="/css/author/author-blank.css">

</head>

<body>
    <div class="main">
        <div class="sign-in">
            <div class="bg-image"></div>
                <%- body%>
        </div>
        <%- script%>
</body>

</html>