.Company-blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 6px;
    padding: 10px;
    border-bottom: 1px solid blue;
}

/* Left Side Content  */
.info{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.name span{
    font-size: 1.7rem;
    font-weight: bold;
}
.details{
    padding: 30px;
    font-size: 0.8rem;
}
.re-action{
    display: flex;
    margin-top: 40px;
}
.volunteer-action{
    margin-right: 8px;
}


/* Right Side COntent  */

/* Container  */
.status{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Item1 Remove Button  */
.remover{
    align-self: self-end;
    /* border: 2px solid red; */
}
.remove-button{
    position: relative;
    top: -13px;
    right: 11px;
    flex-basis: 10%;
    margin: 5px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100px;
    background-color: red;
    /* border-radius: 20px; */
    padding: 3px;
    color: rgb(255, 255, 255);
}
.remove-button:hover{
    background-color: gray;
    color: white;
}
.remove-icon{
    display: flex;
    justify-content: flex-end;
    
}
.remove-icon i{
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 30px;
}
.remove-icon:hover{
    cursor: pointer;
}
.remove-icon i:hover{
    
    border-radius: 20%;
    background-color: rgb(227, 226, 226);
    transition-duration: 1000;
}
/* Item2 Hiring Status  */
.hiring-status{
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.status-line{
    font-size: 1.5rem;
}
.date-of-hiring{
    width: 100%;
    text-align: center;
}
.date-of-hiring p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Item 3 Vreification Status  */
.verification-status{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.verification-done{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 35px;
    margin: 10px;
    border: 1px solid green;
}
.verification-pending{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 46px;
    margin: 10px;
    border: 1px solid green;
}
.verification-status a p{
    font-size: 1.2rem;
}
.verification-done{
    background-image: linear-gradient(green, white ,green);
}
.verification-pending{
    background-image: linear-gradient(red, white ,red);
}
.verification-pending:hover{
    cursor: pointer;
}

/* Responsiveness */
@media only screen and (max-width: 710px) {
    .company-blog{
        flex-direction: column;
    }
    .info{
        width: 100%;
    }
    .status{
        width: 100%;
    }
}
/* MOdal WIndows  */

/* MOdal WIndows  */

.modal-background-handler{
    display: none;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    background-color: rgb(102, 146, 241);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.Modal{
    display: none;
    position: fixed;
    top: 20vh;
    left: 30vw;
    height: 390px;
    width: 550px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 255px 2px #f1f1f1;
    overflow: scroll;
    z-index: 2;
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 34px;
    text-align: center;
}
.close:hover{
    cursor: pointer;
    background-color: red;
}
.vHeading{
    font-size: 2rem;
    font-weight: bold;
}
.verification-comp-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    /* border: 1px solid black; */
    color: black;
    background-color: white;
    margin: 5px;
    font-family: sans-serif;
}
.verification-comp-info p{
    text-align: center;
}


/* form styling  */
.verification-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;

}

.room-info{
    margin: 10px 3px;
}
label{
    font-size: 1.3rem;
    font-weight: bold;
}
::placeholder {
    color: black;
    opacity: 1;
  }
.room{
    width: 55px;
    margin: 2px 6px;
    background-color: gray;
    color: black;
}
.room:-webkit-autofill,
.room:-webkit-autofill:hover, 
.room:-webkit-autofill:focus{
    border: none;
    -webkit-text-fill-color: rgb(131, 29, 29);
    font-size : 0.9rem;
    background: none;
    width: 55px;
}

.modal-volunteer{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 40%;
}
.per-vol:nth-child(2n){
    background-color: lightgray;
    /* color: white; */
}
.modal-vol-nav{
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    align-items: center;
}
.per-vol{
    border: 1px solid black;
    margin: 8px 0px;
    width: 95%;
}
.vol-input:-webkit-autofill,
.vol-input:-webkit-autofill:hover, 
.vol-input:-webkit-autofill:focus{
    border: none;
    -webkit-text-fill-color: rgb(131, 29, 29);
    font-size : 0.9rem;
    background: none;
    width: 95%;
}
.add-vol-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 15px;
}

.vol-action-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
vol-action-section-panel{
    
}