*{
    margin: 0px;
    font-size: 20px;
    
}
*::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    border: none;
    opacity: 0.5;
    background: none;
    background-color: none;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding: 5px;
    border-radius: 8px;
}
input:focus{
    outline: none;
    text-decoration: wavy;
    opacity: 0.8;
}
input:hover{
cursor: horizontal-text;
}
input[type='submit']{
    border: none;
    opacity: 0.8;
    border-radius: 20px;
    background-color: rgb(240, 197, 197);
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 600ms;
}
input[type='submit']:hover{
    box-shadow: 0px 0px 5px 5px white;
    transform: scale(1.05);
}
label{
    font-size: 1.3rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    border: none;
    -webkit-text-fill-color: rgb(131, 29, 29);
    font-size : 0.9rem;
    background: none;
    width: initial;
}
#body-layout{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100vw;
    background-image: linear-gradient(to top right,rgb(211, 37, 37),white,rgb(211, 37, 37));
    background-repeat: no-repeat;
    background-size: cover;
}
#header-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
    font-size: 1.3rem;
    color: white;
    padding: 15px;
}
#main-layout{
    height: 90vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.submit a:hover{
    transform: scale(1.9);
}