main{
    width: 100%;
    height: 100%;
    margin:0;
}
.sign-in-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image {
    
    background-image: radial-gradient(rgb(76, 76, 229),white,rgb(15, 3, 109));

    -webkit-filter: blur(6px);

    width: 100vw;
    height: 97.9vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}