.sign-in-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.sign-up-modal{
    /* border: 2px solid grey; */
    width: 35%;
    height: 79%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 3px 3px rgb(211, 37, 37);
    border-radius: 20px;
    transition-duration: 900ms;
}
.sign-up-modal:hover{
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgb(219, 56, 56);
}
.sign-up-modal:focus{
    border-radius: 20px;
}
.sign-up-modal div p {
    font-size: 2rem;
    color: rgb(131, 29, 29);
}
.sign-up-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.sign-up-form form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    color:rgb(131, 29, 29) ;
    width: 100%;
}

.sign-up{
    transition-duration: 700ms;
}
.sign-up a{
    font-size: 1.1rem;
}
.sign-up:hover{
    transform: scale(1.1);
    color: rgb(136, 130, 130);
}