* {
    margin: 0px;
}

.room-nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 8px;
    list-style: none;
}
.room-main-window{
    height: 85vh;
    width: 100vw;
    overflow: scroll;
    background-color: rgb(40, 40, 190);
    color: white;
}
#room-company-name{
    display: none;
    position: absolute;
    top: 155px;
    left: 90px;
    border: 1px solid white;
    background-color: red;
    /* border: 1px solid white; */
}
.room-cname{
    text-align: center;
    font-size: 2.2rem;
    text-transform: capitalize;
}
.room-cemail,.room-cphone{
    text-align: right;
    font-size: 1.1rem;
    margin: 5px;
}
.room-display-window {
    /* display: flex; */
    /* margin-top: 200px; */
    float: right;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}

.room-display-window::-webkit-scrollbar {
    display: none;
}

.panel {
    width: 65vw;
    margin: auto;
    /* height: 40vh; */
    /* border: 10px solid rgb(40, 40, 190); */
    background-color: white;
    color: black;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section1 {
    width: 100%;
    flex-basis: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(40, 40, 190);
    background-color: rgb(40, 40, 190);
}

.sub-section11 {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(40, 40, 190);
    font-size: 4rem;
    color:rgb(40, 40, 190) ;
    font-weight: 600;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgb(181, 203, 243);
    margin: 5px;
    border-radius: 20px;
}

.sub-section12 {
    flex-basis: 79%;
    height: 100%;
    border: 1px solid rgb(40, 40, 190);
    background-color: rgb(40, 40, 190);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-self: flex-end;
    /* margin: auto; */
}

.room-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0px;

}

.room-heading p {
    text-align: center;
    color: rgb(201, 196, 248);
}

.room-nos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(40, 40, 190);
    cursor : pointer;

}
.room-nos div{
    border: 1px solid white;
    box-shadow: 0px 0px 1px 1px rgb(181, 203, 243);
    color: white;
    padding: 2px;
    border-radius: 10px;
}
.room-nos div:hover{
    box-shadow: 0px 0px 2px 3px rgb(172, 198, 247);
}
.section2 {
    width: 100%;
    flex-basis: 59%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(40, 40, 190);
    background-color: rgb(40, 40, 190)
}

.sub-section21 {
    flex-basis: 18%;
    border: 1px solid rgb(40, 40, 190);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: end;
    background-color: rgb(40, 40, 190);
    padding: 2px;
}
.floor-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.floor-heading p{
    text-align: center;
    transform: rotate(270deg);
    color: rgb(201, 196, 248);
}
.floor-nos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(40, 40, 190);
    cursor : pointer;
}
.floor-nos div{
    border: 1px solid white;
    box-shadow: 0px 0px 1px 1px rgb(181, 203, 243);
    color: white;
    padding: 2px;
    border-radius: 10px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.floor-nos div:hover{
    box-shadow: 0px 0px 2px 3px rgb(172, 198, 247);
}
.sub-section22 {
    flex-basis: 85%;
    margin: auto;
    border: 1px solid rgb(40, 40, 190);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
.grid-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid-row{
    margin-top: 2px;
}
.grid-cell{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    margin: 2px;
    border-radius: 4px;
}
.grid-cell:hover{
    box-shadow: 0px 0px 1px 2px white;
    cursor: pointer;
}
.green{
    background-color: rgb(29, 196, 29);
}
.red{
    background-color: red;
}