<div>
    <p>Hi</p>
    <br>
    <p>A new author <strong><%= user.username%></strong> <strong>'<%= user.email%>'</strong> wants to sign up having the designation <%= user.designation%></p>
    <br>
    <p>The Security key for sign in is </p>
    <br>
    <%=key%>
    <br>
</div>