/* HOME HEADER PROPERTIES  */
.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    background-color:  #254C82;
}
/* HEADING JOB FAIR  */
.job-fair i{
    color: white;
    margin-right: 1px;
}
/* LOG MENU  */
.log-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-menu div{
    padding-left: 0.7vw;
}
a{
    text-decoration: none;
    color: white;
    cursor:pointer;
    transition: all 300ms ease;
}
a:hover{
    color: gray;
}
.horizontal-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.horizontal-list li{
    padding-right: 1.5vw;
}

/* home-header Responsiveness */
@media only screen and (max-width: 500px) {
    nav{
        display: none;
    }
    #feedback{
        display: none;
    }
}

/* For send Attached header class Icon */

.Icon{
    position: fixed;
    width: 100vw;
    padding-left: 10vw;
    background-color: white;
}
.Icon img{
    width: 28vw;
    height:13vh;
}

.navigation-bar{
    position: fixed;
    font-size: 1.5rem;
    height: 10vh;
    width: 40vw;
    background-color: #042048;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 50px;
    margin-left:45vw;
    margin-top: 8vh;
    padding-left:1.5vw;
}
.Responsive-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7vw;
    padding-right: 7vw;
    display: none;
    background-color: white;
}
.Responsive-view div img{
    padding-left: 2vw;
    height: 10vh;
    width: 30vw;
}

.Responsive-view i{
    color: black;
}
@media only screen and (max-width: 900px) {
    .Handle-view-900px{
        display: none;
    }
    .Responsive-view{
        display: flex;
    }
}
@media only screen and (mai-width: 900px) {
    .Responsive-view{
        display: none;
    }
}

.sticky{
    position:fixed;
    top:0;
    width: 100%;
}