.main{
    width: 100%;
    margin-top: 26vh;
    color: black;
}
#heading-img img{
    width: 98.9vw;
    height:30vh;
}
#introduction{
    margin-left: 7vw;
    margin-right: 7vw;
    padding: 0vh;
    padding-top: 8vh;
    padding-bottom: 8vh;
    font-size: 1.5rem;
}
