<link rel="stylesheet" href="/css/home/_homefooter.css">

<footer>
    <div id="copyright">
        <p>
            &#169; All Rights Reserved
        </p>
    </div>
    <div id="team-info">
        <p>
            <a href="/team-info">Team Info</a>
        </p>
    </div>
</footer>