<link rel="stylesheet" href="/css/home/home.css">

<div class="main">
    <div id="welcome-heading">
            <h1>
                WELCOME <BR> TO <BR> SAKSHAM <BR> JOB <BR> FAIR 
            </h1>
    </div>
    <div id="sjf-logo">
        <img src="" alt="">
        <p>Place your logo here</p>
    </div>
</div>


<script src="/js/home/home"></script>