<link rel="stylesheet" href="/css/author/_authorheader.css">
<h3>
    this is author header
</h3>
<a href="/author/sign-in">Sign In</a>
<a href="/author/sign-out">Sign Out</a>


<script src="/js/author/_authorheader.js"></script>