<link rel="stylesheet" href="/css/home/_homeheader.css">

<header class="home-header">
        <div class="job-fair">
            <a href="/">JOB FAIR</a>
        </div>
        <nav>
            <ul class="nav-bar horizontal-list">
                <li class="nav-link">
                    <a href="/">Home</a>
                </li>
                <li class="nav-link">
                    <a href="/student">Student</a>
                </li>
                <li class="nav-link">
                    <a href="/company">Company</a>
                </li>
                <li class="nav-link">
                    <a href="http://srimt.co.in/">About Us</a>
                </li>
            </ul>
        </nav>
        <div class="log-menu">
            <%if (locals.user){%>
                <%if(locals.user.type=='student'){%>
                    <div class="log-in">
                        <p>
                            <a href="/student/sign-out">Sign Out</a>
                        </p>
                    </div>
                    <%}else{%>
                        <div class="log-in">
                            <p>
                                <a href="/company/sign-out">Sign Out</a>
                            </p>
                        </div>
                        <%}%>

                <%}else{%>
                    <div class="log-in">
                        <p>
                            <a href="/sign-in">Sign In</a>
                        </p>
                    </div>
                    <div class="sign-up">
                        <p>
                            <a href="/sign-up">Sign Up</a>
                        </p>
                    </div>
                    <%}%>
        </div>
</header>

<script src="/js/home/_homeheader"></script>