#student{
    display: none;
    width: 50%;
    margin: auto;
}

#company{
    display : none;
    width: 50%;
    margin: auto;
}

.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 80vh;
}

.type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.type div{
    margin: 10px;
    padding: 5px;
}

#stud{
    animation: 500ms;
}
#stud:hover{
    background-color: rgb(232, 238, 238);
    color: grey;
    border-radius: 10px;
}

#comp{
    animation: 500ms;
}
#comp:hover{
    background-color: rgb(232, 238, 238);
    color: grey;
    border-radius: 10px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-input{
    margin: 12px;
}
.text-input input{
    height : 2rem;
    width: 60%;
    border: none;
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
    background: none;
    color: white;
    outline: none;
}
.text-input input:focus{
    outline: none;
}
.submit{
    align-self: flex-end;
  
} 
input[type='submit']{
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
    margin: 5px;
    height: 2rem;
    width: 5rem;
}
input[type='submit']:hover{
    font-size: 1.4rem;
    box-shadow: 0px 0px 5px 5px grey;
}