<link rel="stylesheet" href="/css/home/_homefooter.css">

<footer>
    <div class="footer_1">
        <div class="about">
            <div>
                <img src="/images/homeheader/SRIMT Logo.jpg">
            </div>
            <div>
                SRIMT provides discussion forums to fasten critical thinking and to provide platform for honing talent in debates, dramatics, public speaking, quizzes.
            </div>
            <div>
                <h4>Follow Us on</h4>
                <div>
                    <ul class="follow_us">
                        <li class="follow-link">
                            <a><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li class="follow-link">
                            <a><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="follow-link">
                            <a><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Contact">
            <h3>Contact Information</h3>
            <h5>Get In Touch</h5>
            <div class="info"><i class="fa-solid fa-location-dot"></i>
                NH-24, Sitapur Road, Bakshi ka Talab, Lucknow-226201
            </div>
            <div class="info"><i class="fa-solid fa-phone"></i>
                97930-00005,6,7
            </div>
            <div class="info"><i class="fa-sharp fa-solid fa-envelope"></i>
                srgi666@gmail.com
            </div>
        </div>
    </div>
    <div class="footer_2">
        <div id="copyright">
            <p>
                &#169; All Rights Reserved
            </p>
        </div>
        <div id="team-info">
            <p>
                <a style="color: black" href="/team-info">Team Info</a>
            </p>
        </div>
    </div>
</footer>